@using BoardGames_FinalProject.Models
@using BoardGames_FinalProject.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@{
    // get cart count from session
    var cart = new Cart(Context);
    var count = cart.Count;

    // use current controller or area to determine if tab is active
    var current = ViewContext.RouteData.Values["area"]?.ToString() ?? 
        ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The BoardGame Store @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container bg-light h-100">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Nav.Active("Home", current)">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">
                            <span class="fas fa-home"></span>&nbsp;Home
                        </a>
                    </li>
                    <li class="nav-item @Nav.Active("BoardGame", current)">
                        <a class="nav-link" asp-action="List" asp-controller="BoardGame" asp-area="">
                            <span class="fas fa-dice-six"></span>&nbsp;BoardGames
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @Nav.Active("Cart", current)">
                        <a class="nav-link" asp-action="Index" asp-controller="Cart" asp-area="">
                            <span class="fas fa-shopping-cart"></span>&nbsp;Cart
                            <span class="badge badge-light">@count</span>
                        </a>
                    </li>
                    
                    <!-- These Login buttons and links could be a partial class or a view component -->

                    @inject SignInManager<User> signInManager
                    @if (signInManager.IsSignedIn(User))
                    {
                        // signed-in user - Log Out button and username
                        <li class="nav-item">
                            <form method="post" asp-action="LogOut" asp-controller="Account"
                                  asp-area="">
                                <input type="submit" value="Log Out"
                                       class="btn btn-outline-light" />
                                <span class="text-light">@User.Identity.Name</span>
                            </form>
                        </li>
                    }
                    else
                    {
                        var action = ViewContext.RouteData.Values["action"]?.ToString();

                        // anonymous user - Register link and Log In button
                        <li class="nav-item @Nav.Active("Register", action)">
                            <a asp-action="Register" asp-controller="Account"
                               asp-area="" class="nav-link">
                                <span class="fas fa-edit"></span>&nbsp;Register							   
							</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account"
                               asp-area="" class="btn btn-outline-light">Log In</a>
                        </li>
                    }

                    <li class="nav-item @Nav.Active("Admin", current)">
                        <a class="nav-link" asp-action="Index" asp-controller="BoardGame" asp-area="Admin">
                            <span class="fas fa-cog"></span>&nbsp;Admin
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="jumbotron text-center bg-warning">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/images/logo.png" width="500" class="img-fluid center-block" />
            </a>
        </header>
        <main>
            @if (TempData.Keys.Contains("message")) {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>

</body>
</html>
